.about-me-page {
  // - - - - - - -
  // About me page
  // - - - - - - -
  text-align: center;
  margin: 1rem 0;

  .about-me__title {
    font-size: $subHeaderSize;
    margin: 2rem 0 1.5rem;
  }
  .about-me__main-title {
    font-size: $mainHeaderSize;
    margin-bottom: 1.5rem;
  }

  .about-me__lead {
    margin-bottom: 2rem;
  }

  // - - - -
  // Media
  // - - - -

  @media screen and (min-width: 600px) {
    .about-me__title {
      margin: 3rem 0 1.5rem;
    }

    .about-me__lead {
      margin-bottom: 3rem;
    }
  }
}
