$font: -apple-system, BlinkMacSystemFont, "Nunito", Roboto, Oxygen, Ubuntu,
  Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$themeColor: #a800bb;
$white: #fff;
$mainDark: #535353;
$colorLead: #707070;
$mainHeaderSize: 1.8rem;
$subHeaderSize: 1.5rem;
